<header>
    <mat-toolbar>
        <span class="logo">Logo</span>
        
        <mat-form-field appearance="standard">
            <input matInput (keyup)="applyFilter($event)" placeholder="Global Filter">
        </mat-form-field>

        <div class="logout">
            <span>Hello Tom</span>
            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>

<main>
    <div class="mat-elevation-z8">
        <h3>Contacts</h3>

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">        
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>
    
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
            </ng-container>
    
            <ng-container matColumnDef="middleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by middleName">Middle Name</th>
                <td mat-cell *matCellDef="let row">{{row.middleName}}</td>
            </ng-container>
    
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
            </ng-container>
    
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by createdAt">Date And Time Creation</th>
                <td mat-cell *matCellDef="let row">
                    <span class="date">{{row.createdAt[0]}}</span>
                    <span class="time">{{row.createdAt[1]}}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by updatedAt">Last Change</th>
                <td mat-cell *matCellDef="let row">
                    <span class="date">{{row.updatedAt[0]}}</span>
                    <span class="time">{{row.updatedAt[1]}}</span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="communication">
                <th mat-header-cell *matHeaderCellDef>Communication</th>
                <td mat-cell *matCellDef="let row">
                    <span class="info" *ngFor="let item of row.communication" attr.data-info="{{getHint(item)}}">
                        <a href="{{getHref(item)}}" target="_blank">
                            <mat-icon aria-hidden="false">
                                {{item.type}}
                            </mat-icon>
                        </a>
                    </span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>Options</th>
                <td mat-cell *matCellDef="let row">
                    <div class="actions">
                        <mat-icon (click)="deleteRecord(row.id)" color="warn">delete</mat-icon>
                        <mat-icon (click)="editRecord(row)" color="primary">edit</mat-icon>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef class="disclaimer">
                    <button mat-button (click)="addRecord()">
                        <mat-icon>person_add</mat-icon>
                        Add Client
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
        </table>
    
        <mat-paginator 
                    #paginator
                    [length]="totalRows"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    showFirstLastButtons
                    (page)="pageEvent = $event; onPaginateChange($event)"
                    aria-label="Select page">
      </mat-paginator>
    </div>
</main>