:host {
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

form {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    
    mat-form-field {
        width: 100%;
    }

    .social-component .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 13px 0;
    }
}

.deleteSocial {
    cursor: pointer;
}

.addSocial {
    width: 100%;
    align-self: center;
}

.saveContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 12px;

    button {
        padding: 10px 64px;
        background-color: #f5f5f5;
    }
}

.mat-select {
    width: 150px;
}