<h1 mat-dialog-title>
    <span>{{data.modalName}}</span>
    
    <button mat-button class="btn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h1>

<form mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="firstName" placeholder="First name" required>
        
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">
            &#171;First name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="middleName"  placeholder="Middle name" required>
        
        <mat-error *ngIf="form.get('middleName')?.hasError('required')">
            &#171;Middle name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Last name" required>
        
        <mat-error *ngIf="form.get('lastName')?.hasError('required')">
            &#171;Last name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <div class="social-component" *ngFor="let network of networksFieldAsFormArray.controls; let i = index; trackBy: trackByFn;" formArrayName='socialNetworks'>
        <mat-form-field appearance="outline" [formGroupName]="i">            
            <input matInput formControlName="url" placeholder="Social url">
            <mat-icon class="deleteSocial" matSuffix (click)="remove(i)">close</mat-icon>

            <mat-select formControlName="social" placeholder="Social name">
                <mat-option value="{{name}}" *ngFor="let name of socialName; let i = index; trackBy: trackByFn;">
                    {{name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errorUrlSocialNetworks(i)">
                &#171;Social url&#187; is <strong>required</strong>
            </mat-error>
       </mat-form-field>
    </div>
</form>

<button mat-button type="button" class="addSocial" *ngIf="this.form.get('socialNetworks')?.value.length < 5" (click)="addControl()">
    <mat-icon>add</mat-icon>
    Add Social Media
</button>

<div mat-dialog-actions class="saveContainer">
    <button mat-button class="saveClient" (click)="save()" [disabled]="!form.valid">Save</button>
</div>