<h1 mat-dialog-title>
    <span>{{data.modalName}}</span>
    
    <button mat-button class="btn" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</h1>

<form mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput formControlName="firstName" maxlength="30" placeholder="First name" required>
        <mat-hint align="end">{{form.get('firstName')?.value?.length || 0}}/30</mat-hint>
        
        <mat-error *ngIf="form.get('firstName')?.hasError('required')">
            &#171;First name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="middleName" maxlength="30" placeholder="Middle name" required>
        <mat-hint align="end">{{form.get('middleName')?.value?.length || 0}}/30</mat-hint>
        
        <mat-error *ngIf="form.get('middleName')?.hasError('required')">
            &#171;Middle name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="lastName" maxlength="30" placeholder="Last name" required>
        <mat-hint align="end">{{form.get('lastName')?.value?.length || 0}}/30</mat-hint>
        
        <mat-error *ngIf="form.get('lastName')?.hasError('required')">
            &#171;Last name&#187; is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <div class="social-component" *ngFor="let network of networksFieldAsFormArray.controls; let i = index; trackBy: trackByFn;" formArrayName='communication'>
        <mat-form-field appearance="outline" [formGroupName]="i">            
            <input matInput formControlName="value" placeholder="Social url">
            <mat-hint align="end">{{i + 1}}/5</mat-hint>
            <mat-icon class="deleteSocial" matSuffix (click)="remove(i)">close</mat-icon>

            <mat-select formControlName="type" placeholder="Social name">
                <mat-option value="{{name}}" *ngFor="let name of socialName; let i = index; trackBy: trackByFn;">
                    {{name}}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errorUrlCommunication(i)">
                &#171;Social url&#187; is <strong>required</strong>
            </mat-error>
       </mat-form-field>
    </div>
</form>

<button mat-button type="button" class="addSocial" *ngIf="this.form.get('communication')?.value.length < 5" (click)="addControl()">
    <mat-icon>add</mat-icon>
    Add Social Media
</button>

<div mat-dialog-actions class="saveContainer">
    <button mat-button class="saveClient" (click)="save()" [disabled]="!form.valid">Save</button>
</div>